@using System
@using System.Linq
@using MasterGradeSearch.Core.Commons
@model MasterGradeSearch.Core.Commons.Institute

@{
    ViewBag.Title = "Details";
}

<div class="page-header">
    <h1>@Html.DisplayFor(model => model.ShortName)<br /><small>@Html.DisplayFor(model => model.FullName)</small></h1>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Информация об учебном заведении</h3>
    </div>
    <div class="panel-body">
        <table>
            <tr>
                <td>
                    @{
                        if (Model.ImageBase64 != null)
                        {
                            <img alt="Embedded Image" src="data:image/png;base64,@Model.ImageBase64" />
                        }
                    }
                </td>
                <td>
                    <dl class="dl-horizontal">
                        <dt>
                            Город
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.City.Name)
                        </dd>

                        <dt>
                            Район
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.District.Name)
                        </dd>
                    </dl>
                </td>
            </tr>
        </table>
        <br />
        @{
            var lines = Model.Description.Split(new[] {'\r', '\n'}, StringSplitOptions.RemoveEmptyEntries);
            foreach (var line in lines)
            {
                <p>@line</p>
            }
        }
    </div>
</div>

<div class="table table-striped">
    <div class="panel-heading">
        <h3 class="panel-title">Направления подготовки университета</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    <p>Направление подготовки</p>
                </th>
                <th>
                    <p>Форма обучения</p>
                </th>
                <th>
                    <p>Общежитие</p>
                </th>
                <th>
                    <p>Подготовительные курсы</p>
                </th>
                <th>
                    <p>Бюджет</p>
                </th>
                <th>
                    <p>Внебюджет</p>
                </th>
                <th>
                    <p>Стоимость</p>
                </th>
                <th>
                    <p>Вступительные испытания</p>
                </th>
            </tr>

            @foreach (Course course in Model.Courses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => course.Discipline.Name)
                    </td>
                    <td>
                        @if (course.LearningType == LearningType.FullTime)
                        {
                            <p>Очное</p>
                        }
                        else
                        {
                            <p>Заочное</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => course.Hostel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => course.PreparatoryCourses)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => course.Budget)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => course.Extrabudgetary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => course.Cost)
                    </td>
                    <td>
                        @{ string examsStr = String.Join(", ", course.Exams.Select(x => x.Name)); }
                        @Html.DisplayFor(modelItem => examsStr)
                    </td>
                </tr>
            }

        </table>
       
        @Html.ActionLink("Добавить направление подготовки", "CreateCourse", "Institutes", new {@instututeId = Model.Id}, new {@role = "button", @class = "btn btn-success"})
        
    </div>
</div>



<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>