@using MasterGradeSearch.Core.Commons
@model MasterGradeSearch.Web.Models.SearchViewModel


@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function() {
        $("#departmentList").click(function() {
            var dID = $(this).val();
            $.getJSON("../search/LoadDistinctsByCity", { cityId: dID },
                function (data) {
                    var select = $("#physiciansList");
                    if (data.length > 0) {
                        select.empty();
                        select.append($('<option/>', {
                            value: 0,
                            text: "Select a Physian"
                        }));
                        $.each(data, function(index, itemData) {
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    } else {
                        select.empty();
                    }

                });
        });
    });
</script>


<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" data-placeholder="Please select">Checked option <span class="caret"></span></button>
    <ul class="dropdown-menu" id="departmentList">
        @foreach (SelectListItem item in Model.CitiesSelectList)
        {
            <li><input type="checkbox" id="@item.Value"><label for="@item.Value">@item.Text</label></li>
        }
    </ul>
</div>



<p>
    @Html.DropDownListFor(model => model.Districts, new SelectList(Enumerable.Empty<SelectListItem>(), "phyID", "phyName"),
        "Select a District", new {id = "physiciansList"})
</p>

<h2>Index</h2>

<div class="btn-group">
    <button data-toggle="dropdown" class="btn btn-warning dropdown-toggle" data-placeholder="Please select">Checked option <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><input type="checkbox" id="ID1"><label for="ID1">Label1</label></li>
        <li><input type="checkbox" id="ID2"><label for="ID2">Label2</label></li>
        <li><input type="checkbox" id="ID3"><label for="ID3">Label3</label></li>
        <li><input type="checkbox" id="ID4"><label for="ID4">Label4</label></li>
    </ul>
</div>


<table class="table">
    <tr>
        <th>
            <p>1</p>
        </th>
        <th>
            <p>2</p>
        </th>
        <th>
            <p>3</p>
        </th>
        <th>
            <p>4</p>
        </th>
        <th>
            <p>1</p>
        </th>
        <th>
            <p>2</p>
        </th>
        <th>
            <p>3</p>
        </th>
        <th>
            <p>4</p>
        </th>
        <th></th>
    </tr>
    @if (Model.FindedCourses.Count > 0)
    {
        foreach (Course item in Model.FindedCourses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Institute.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discipline.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LearningType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hostel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Budget)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Extrabudgetary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreparatoryCourses)
                </td>
            </tr>
        }
    }

</table>